/* Main */

.main-container{
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.main-left{
    position: fixed;
    left:0;
}
.main-right{
    position: fixed;
    right: 0;
}
/* Main left */

.main-left{
    width: 25%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-left ul{
    margin: 0;
    padding: 0;
    width: 70%;
}
.first-menu-left-main{
    border-bottom: 1px solid #CCD0D5;
    width: 70%;
}
.first-menu-left-main li{
    width: 100%;
}
.first-menu-left-main li:hover{
    width: 100%;
    border-radius: 10px;
    background-color: #CCD0D5;
    cursor: pointer;
}
.second-menu-left-main li:not(:first-child):hover{
    width: 100%;
    border-radius: 10px;
    background-color: #CCD0D5;
    cursor: pointer;
}
.span-arrow-left-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #DADDE1;
    border: 1px solid #F2F3F5;
    border-radius: 100%;
    cursor: pointer;
    margin-left: 6px;
}
.menu-left-main-profile{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 0px;
}
.menu-left-main-profile:not(:first-child){
    margin-left: 0px;
}
.profile-name-left-main{
    font-weight: 600;
    font-size: 16px;
    margin-left: 8px;
    font-size: 15px;
}
.space-icon-main-left{
    padding-left: 8px;
}
.title-games{
    color: #828282;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
}
.terms{
    height: 210px;
    display: flex;
    align-items: end;
    width: 70%;
    font-size: 12px;
    font-weight: bold;
    color:#828282;

}


/* Main Center */

.main-center{
    width: 40%;
}
/*.story{

}*/
.story-list{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 98%;
}
.card-story{
    width: 130px;
    height: 180px;
    display: flex;
    justify-content: space-around;
}
.card-story:not(:first-child){
    align-items: flex-end;
    margin-left: 3px;
}
.card-story:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CCD0D5;
    border-left: 1px solid #CCD0D5;
    border-right: 1px solid #CCD0D5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.title-story{
    position: absolute;
    width: 2.5%;
    height: auto;
    padding-right: 40px;
    margin-bottom: 8px;
    color: white;
    font-size: 12px;
}
.my-story{
    padding-bottom: 8px;
    font-size: 12px;
}
.my{
    background-color: white;
    width: 98%;
    height: 125px;
    border-radius: 8px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px solid #828282;
}
.div-post{
    margin-top: 12px;
    margin-left: 8px;
    width: 95%;
    height: 40px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.post-form{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.post-field-text{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-size: 14px;
    width: 100%;
    height: 40px;
    padding: 0;
    padding-left: 12px;
    padding-right: 10px;
    background-color: #F2F3F5;
    border-radius: 18px;
    font-size: 16px;
    color: #65676B;
}
.more-input-options{
    margin-top: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.more-input-options-border-top{
    margin-top: 12px;
    border-top: 2px solid #F2F3F5;
    width: 95%;
}
.more-input-options-ul{
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.more-input-options-li{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: #65676B;
}
.more-input-options-li{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: #65676B;
    border-radius: 8px;
}
.more-input-options-li:first-child{
    margin-left: 3px;
}
.more-input-options-li:first-child:hover{
    margin-left: 3px;
}
.more-input-options-li:nth-child(3){
    margin-right: 3px;
}
.more-input-options-li:nth-child(3):hover{
    margin-right: 3px;
}
.more-input-options-li:hover{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: #65676B;
    background-color: #F2F3F5;
    border-radius: 8px;
    cursor: pointer;
}
.live{
    margin: 0;
    padding: 0;
    width: 98%;
    height: 70px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 1px solid #828282;
    margin-top: 20px;
}
.ul-live{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}
.li-live{
   margin-left: 15px;
}
.li-live:hover{
    margin-left: 15px;
    cursor: pointer;
 }
.button-li-live{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    border: 1px solid #AAC9FF;
    background-color: white;
    border-radius: 20px;
}
.button-li-live:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AAC9FF;
    background-color: #F2F3F5;
    border-radius: 20px;
    cursor: pointer;
}
.p-button-li-live{
    color: #216FDB;
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;

}

/*Posts*/

.users-posts{
    width: 98%;
    margin-top: 20px;
    border-radius: 8px;
    background-color: white;
}
.mini-nav-users-posts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}
.mini-nav-profile-posts{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
}
.ul-mini-nav-posts{
    padding: 0;
    margin: 0;
    margin-left: 8px;
}
.il-mini-nav-posts:first-child{
    font-size: 15px;
    color: #050505;
    font-weight: 600;
}
.il-mini-nav-posts:not(:first-child){
    font-size: 13px;
    color: #65676B;
}
.mini-nav-options-posts{
    padding-right: 8px;
}
.button-mini-nav-options-posts{
    background-color: white;
    border-style: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}
.button-mini-nav-options-posts:hover{
    background-color: #EBEDF0;
}
.post{
    margin-top: 15px;
    width: 100%;
    height: 400px;
}
.amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.amount-likes{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 15px;
}
.amount-comments-share{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.amount-likes-number{
    color:#65676B;
    font-size: 15px;
    margin-left: 5px;
}
.amount-likes-number:hover{
    color:#65676B;
    text-decoration: underline #65676B;
    cursor: pointer;
}
.li-amounts-share-comments{
    color:#65676B;
    font-size: 15px;
    margin-right: 15px;
}
.li-amounts-share-comments:hover{
    color:#65676B;
    text-decoration: underline #65676B;
    cursor: pointer;
}

/*Main right*/

.main-right{
    width: 25%;
}
.main-right ul{
    margin: 0;
    padding: 0;
}


/* 25 Left + 5 space        40 main       5space + 25 right    = 30 + 40 + 30 = 100% */
